@model System.Uri

@{
    ViewBag.Title = "Ошибка";
}

<hgroup class="title">
    <h2 class="error">Ошибка при обработке запроса.</h2>
    <p>
        У вас недостаточно прав для доступа к данной странице<br />
        Если вы уверены, что это ошибка, пожалуйста, свяжитесь со службой технической поддержки.<br /><br />
        
        <a href="@Model.AbsoluteUri">Назад</a>
    </p>
</hgroup>
