@model string

<div id="regWindow" style="margin: 10px auto;"> 
<div class="windowTitle">Изменение пароля</div> 
    @using(Html.BeginForm("ConfirmRememberPassword", "Account", FormMethod.Post, new { @class = "RememberForm" }))
    {
        <ul>
            <li>
                <label> 
                    Отлично! Осталось последнее действие
                </label>
            </li>
            <li> 
                @Html.ValidationSummary()
            </li>
            <li>
                <label for="remMail">Ваш новый пароль</label>
                @Html.Password("newPassword")
            </li>
            @Html.AntiForgeryToken()
            @Html.Hidden("token", Model)
        </ul>
        <div class="remSub2">
            <input type="submit" name="remSubmit" value=" " />
        </div>
    }
    <p>
        <a class="loginLink" href="#loginWindow">Войти</a>
        <a class="regLink brownLink" href="#regWindow">Зарегистрироваться</a>
    </p>
</div>

<script type="text/javascript">
    $('.RememberForm').bind('submit', function () {
        $('.RememberForm').valid();
        return true;
    });
</script>