@model Reklama.Models.ViewModels.Shared.LoginModel

@{
    ViewBag.Title = "Вход на сайт";
}

<section id="loginForm">
    <div id="loginWindow" style="margin: 10px auto;">
        @Html.Partial("_LoginPartial")
    </div>
</section>

@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
