@model Reklama.Models.ViewModels.Shared.RegisterExternalLoginModel
@{
    ViewBag.Title = "Восстановление пароля";
}

<div id="regWindow" style="margin: 10px auto;">
    @Html.Partial("_RemeberPasswordPartial", Model)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
