@{
    ViewBag.Title = "Оплата не произведена";
}

<div class="siteMap">

    <div class="adsDone">
        <h3 class="error">Возникла ошибка :(</h3>
    </div>
    <div class="adsDoneColored" style="padding: 15px;">
        <p>Возникла ошибка при оплате Вашего объявлеия.<br />
            Если Вы в действительности оплатили, - пожалуйста, запомните время платежа: <b>@DateTime.Now</b> и свяжитесь с администратором!
        </p>
    </div>

</div>
<div class="middleBot"></div>
