@model Reklama.Models.ViewModels.Shared.RegisterExternalLoginModel

    <div class="windowTitle">Напомнить пароль</div> 
    @using(Html.BeginForm("RememberPassword", "Account", FormMethod.Post, new { @class = "RememberForm" }))
    {
        <ul>
            <li>
                <label>
                    Введите Email, на который вы зарегистрированы.<br /> 
                    На вашу почту придет письмо с инструкцией по смене пароля
                </label>
            </li>
            <li>
                @Html.ValidationSummary()
            </li>
            <li>
                <label for="remMail">Ваша электронная почта:</label>
                @Html.TextBoxFor(m => m.Email, new Dictionary<string, object>() {{"id", "remMail"}})
            </li>
            @Html.AntiForgeryToken()
        </ul>
        <div class="remSub">
            <input type="submit" name="remSubmit" value=" " />
        </div>
    }
    <p>
        <a class="loginLink" href="#loginWindow">Войти</a>
        <a class="regLink brownLink" href="#regWindow">Зарегистрироваться</a>
    </p>


<script type="text/javascript">
    $('.RememberForm').bind('submit', function () {
        $('.RememberForm').valid();
        return true;
    });
</script>