@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "reklama.tm - Ошибка";
}

<hgroup class="title">
    <h1 class="error">Ошибка.</h1>
    <h2 class="error">Возникла ошибка при обработке Вашего запроса</h2>
    <h3 class="error">Пожалуйста, попробуйте снова<br />Если данная ошибка повторяется, свяжитесь с администатором</h3>
</hgroup>
