@{
    ViewBag.Title = "Создание недвижимости";
}

<div id="notice-container">
    <h2>Создание объявления для недвижимости</h2>

    <h3 class="error">
        Данный раздел находится в стадии доработки.<br />
        Приносим свои извинения за доставленные неудобства.
    </h3>
</div>

<style>
    #notice-container {
        margin: 15px;
    }
</style>