
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MObileLoyaut</title>
    @RenderSection("head", required: false)
    @RenderSection("styles", required: false)
</head>
<body>
    @RenderBody()
</body>

@RenderSection("scripts", required: false)

</html>

