
<span id="simplePingSubDomains" style="display: none;width: 0;height: 0;padding: 0;margin: 0;overflow: hidden;">
    <iframe src="http://reklama.tm/SimplePing" width="1" height="1" style="display: none"></iframe>
    <iframe src="http://jay.reklama.tm/SimplePing" width="1" height="1" style="display: none"></iframe>
    <iframe src="http://lb.reklama.tm/SimplePing" width="1" height="1" style="display: none"></iframe>
    <iframe src="http://mr.reklama.tm/SimplePing" width="1" height="1" style="display: none"></iframe>
    <iframe src="http://bn.reklama.tm/SimplePing" width="1" height="1" style="display: none"></iframe>
    <iframe src="http://dz.reklama.tm/SimplePing" width="1" height="1" style="display: none"></iframe>
    <iframe src="http://ag.reklama.tm/SimplePing" width="1" height="1" style="display: none"></iframe>
</span>