/<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../../Scripts/mobile/bootstrap-3.3.5/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="../../Scripts/mobile/jquery-1.11.3.min.js"></script>
    <script src="../../Scripts/mobile/bootstrap-3.3.5/dist/js/bootstrap.js"></script>
    <script src="../../Scripts/mobile/validator.js"></script>
</head>
<body>
    
    <div class="form"role="form">
        <div>
            <input type="text"/>
            <input type="text"/>
            <input type="text"/>
         </div>
    </div>
</body>
</html>
