@model Reklama.Models.ViewModels.Banners.BannerViewModel

<div class="popProducts">
    <a href="@Model.Link" target="@Model.Target ">
        <img src="@Model.ImageUrl" style="width: 100%; height: auto;" />
    </a>
</div>