<div class="banner-wrap-50">
    <div class="banner-470-100">
        <a href="@Model.Link" target="@Model.Target" style="display: table;">
            <img src="@Model.ImageUrl" style="width: 100%; height: auto;" />
        </a>
    </div>
</div>