#CategoryButtons
{
    font-family: sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #999;
}

#CategoryButtons .item-container {
    float: left;
    padding: 0;
    /*width: 225px;*/
}

    #CategoryButtons .item
    {
        clear: both;
        margin: 0;
        padding: 0;
    }

    #CategoryButtons label
    {
        border-radius: 3px;
        border: 1px solid #D1D3D4;
    }

    /* hide input */
    #CategoryButtons input.radio:empty
    {
        visibility: hidden;
        /*margin-left: -999px;*/
    }

        /* style label */
        #CategoryButtons input.radio:empty ~ label
        {
            position: relative;
            float: left;
            line-height: 2.5em;
            text-indent: 3.25em;
            margin-top: 0;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            #CategoryButtons input.radio:empty ~ label:before
            {
                position: absolute;
                display: block;
                top: 0;
                bottom: 0;
                left: 0;
                content: "\2714";
        text-indent: .9em;
                color: #A9A9A9;
                width: 2.5em;
                background: #D1D3D4;
                border-radius: 3px 0 0 3px;
            }

    /* toggle hover */
    #CategoryButtons input.radio:hover:not(:checked) ~ label:before
    {
        content: "\2714";
        text-indent: .9em;
        color: #C2C2C2;
    }

    #CategoryButtons input.radio:hover:not(:checked) ~ label
    {
        color: #888;
    }

    /* toggle on */
    #CategoryButtons input.radio:checked ~ label:before
    {
        content: "\2714";
        text-indent: .9em;
        color: #FFFFFF;
        background-color: #ED6130;
    }

    #CategoryButtons input.radio:checked ~ label
    {
        color: #777;
    }

    /* radio focus */
    #CategoryButtons input.radio:focus ~ label:before
    {
        box-shadow: 0 0 0 3px #999;
    }


    /*custom buttons*/

    .custom-buttons
{
    font-family: sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #999;
}

.custom-buttons .item-container {
    float: left;
    padding: 0;
    /*width: 225px;*/
}

    .custom-buttons .item
    {
        clear: both;
        margin: 0;
        padding: 0;
    }

    .custom-buttons label
    {
        border-radius: 3px;
        border: 1px solid #D1D3D4;
    }

    /* hide input */
    .custom-buttons input.radio:empty
    {
        visibility: hidden;
        /*margin-left: -999px;*/
    }

        /* style label */
        .custom-buttons input.radio:empty ~ label
        {
            position: relative;
            float: left;
            line-height: 2.5em;
            text-indent: 3.25em;
            margin-top: 0;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            .custom-buttons input.radio:empty ~ label:before
            {
                position: absolute;
                display: block;
                top: 0;
                bottom: 0;
                left: 0;
                content: "\2714";
        text-indent: .9em;
                color: #A9A9A9;
                width: 2.5em;
                background: #D1D3D4;
                border-radius: 3px 0 0 3px;
            }

    /* toggle hover */
    .custom-buttons input.radio:hover:not(:checked) ~ label:before
    {
        content: "\2714";
        text-indent: .9em;
        color: #C2C2C2;
    }

    .custom-buttons input.radio:hover:not(:checked) ~ label
    {
        color: #888;
    }

    /* toggle on */
    .custom-buttons input.radio:checked ~ label:before
    {
        content: "\2714";
        text-indent: .9em;
        color: #FFFFFF;
        background-color: #ED6130;
    }

    .custom-buttons input.radio:checked ~ label
    {
        color: #777;
    }

    /* radio focus */
    .custom-buttons input.radio:focus ~ label:before
    {
        box-shadow: 0 0 0 3px #999;
    }

    ul.region-menu {
        width: 75%;
        overflow: hidden;
        float: left;
    }

    .region-menu li {
        float: left;
    }

    .region-menu.custom-buttons input.radio:empty ~ label {
        margin-bottom: 15px;
        line-height: 24px;
        font-size: 12px;
        padding: 0 5px 0 37px;
        text-indent: 0;
        font-weight: bold;
    }

    .region-menu .custom-buttons input.radio:empty {
        width: 0px;
    }