body, html {
    height: 100%;
    display: block;
}

.minh-100 {
    min-height: 100%;
}

.categories {
    display: flex;
    margin-bottom: 10px;
}

    .categories .category {
        margin-right: 20px;
        display: flex;
        align-items: center;
    }

        label {
            margin-left: 10px;
            margin-bottom: 0;
        }

.btn-room-count, .btn-room-count-multy, .btn-direction-sort, .btn-field-sort {
    border: 1px solid silver;
}

.make-title {
    color: white !important;
    font-weight: bolder !important;
}

ul li.static a:hover {
    background: #5362a5 !important;
}

.item-details-btn, .item-short {
    cursor: pointer;
}

.item-short {
    padding-right: 10px;
}

.desctiption-textarea, .room-count {
    display: flex;
    flex-flow: column;
}

.room-count-btn.active {
    color: #fff;
}

.remove-times {
    position: absolute;
    right: 17px;
    top: 13px;
    z-index: 100;
}

.bg-blue {
    /*background: url(data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 …#b)" d="M201.189 48v92.13H1V92.179z" transform="translate(-1)"/></g></svg>) #2496ca no-repeat;*/
    /*background-size: cover;*/
    padding: 50px 10px;
    /*background-position-y: -23vw;*/
    background: linear-gradient(to bottom, #2496ca, #2a7496);
}

.bg-silver {
    background: #ebebeb;
}


.img-logo {
    max-width: 145px;
    /*width: 50%;*/
    height: auto;
    margin-bottom: 20px;
}

.content-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.btn-rounded {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid rgba(230, 230, 230, 0.35);
    color: white;
    width: 100%;
}

.main-container {
    display: flex;
    flex-flow: column;
}

.main-pub-items {
    width: 100%;
    display: flex;
    flex-flow: column;
}

    .main-pub-items .item {
        display: flex;
        flex-flow: row nowrap;
        align-content: stretch;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
        background-color: white;
        min-height: 118px;
        height: 100%;
    }

    .main-pub-items .item-details {
        display: none;
    }

    .main-pub-items .item .bg {
        width: 10px !important;
        flex: 0 0 auto;
    }

.blue {
    background-color: #0c70b9;
    color: #248ad5;
}

.purple {
    background-color: #8717b7;
    color: #a130d1;
}

.green {
    background-color: #169c25;
    color: #25b535;
}

.main-pub-items .item .img {
    width: 100px;
    flex: 0 0 auto;
    flex-basis: 100px;
    text-align: center;
    margin-left: 15px;
    align-self: center;
}

.main-pub-items .item .info {
    margin: 15px 0;
    flex-basis: 95%;
}

    .main-pub-items .item .info .line {
        display: flex;
        flex-flow: row nowrap;
        word-break: break-word;
    }

        .main-pub-items .item .info .line .icon {
            flex-basis: 25px;
        }

        .main-pub-items .item .info .line .text {
            color: rgba(44, 43, 43, 0.85)
        }


    .main-pub-items .item .info .announce-info {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        color: black;
    }

        .main-pub-items .item .info .announce-info .name-ico {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 34px;
            width: 34px;
            background-color: lightgray;
        }

        .main-pub-items .item .info .announce-info .name {
            flex-grow: 2;
        }

    /*.main-pub-items .item .info .announce-info .dt {*/
    /*position: absolute;*/
    /*right: 10px;*/
    /*}*/

    .main-pub-items .item .info p {
        margin-bottom: 5px;
    }

.main-pub-items .item .img .icon-wrapper {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.main-header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: darkcyan;
    background-color: #0c70b9;
    min-height: 53px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.17);
    margin-bottom: 10px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
}

.ig-r .input-group-prepend .input-group-text {
    border-radius: 0 !important;
    color: #2a7496;
    background-color: white;
}

.ig-r .form-control {
    border-radius: 0 !important;
    color: white;
    border-width: 0;
    background-color: #196e94;
}

    .ig-r .form-control::placeholder {
        color: white;
    }


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

    #sidebar.active {
        left: 0;
    }

    #sidebar::-webkit-scrollbar {
        width: 0px;
    }



#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 33px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

    #dismiss:hover {
        background: #fff;
        color: #7386D5;
    }

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

    .overlay.active {
        display: block;
        opacity: 1;
    }

#sidebar .sidebar-header {
    padding: 8px 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 8px;
    font-size: 1.1em;
    display: block;
    color: #fff !important;
    text-decoration: none;
    font-weight: 600;
}

    #sidebar ul li a:hover {
        color: #7386D5 !important;
        background: #fff !important;
    }

#sidebar ul li.static a:hover {
    color: #fff !important;
    background: #5362a5 !important;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/*pagging style*/
.pages {
    font-size: 12px;
    line-height: 18px;
    padding: 5px 0;
    text-align: center;
    clear: both;
    position: relative;
}


.fastNav {
    background: url("/Images/System/bgs.png") repeat-x scroll 0 0 transparent;
    display: inline-block;
    list-style: none outside none !important;
    vertical-align: top;
    position: relative;
    padding: 4px 0;
}

.fastNavL {
    position: absolute;
    top: 0;
    left: -14px;
}

.fastNavR {
    position: absolute;
    top: 0;
    right: -14px;
}

.fastNav li {
    float: left;
    padding: 3px 0 !important;
    position: relative;
    background: 0 none;
    z-index: 2;
    margin: 0 2px;
}

    .fastNav li a, .pagesliderTop ul li a {
        display: block;
        height: auto;
        padding: 0 5px;
        text-decoration: none;
        color: #524d4b;
        position: relative;
    }

.pagesliderTop ul li a {
    float: left;
}

    .fastNav li a:hover, .pagesliderTop ul li a:hover {
        background-color: #FFFFFF;
        color: #f66c27;
        z-index: 4;
    }

    .fastNav li a.hr, .fastNav li a.hr:hover, .pagesliderTop ul li a.shr, .pagesliderTop ul li a.shr:hover {
        background: 0 none #FFFFFF;
        border: 1px solid #DAD6D4;
        color: #a32e17 !important;
        display: block;
        float: left;
        margin: -1px -2px;
        padding: 0 6px;
        position: relative;
        z-index: 5;
        border-radius: 3px;
        behavior: url(css/PIE.htc);
    }

.exppages {
    border-left: 1px solid #DAD6D4;
    border-right: 1px solid #DAD6D4;
    padding: 0;
    position: relative;
    z-index: 2;
}

    .exppages img {
        vertical-align: middle;
        margin-left: 5px;
    }

.exppagesTitle {
    color: #f66c27 !important;
    display: block;
    margin: 0;
    padding: 0 16px 0 12px;
    position: relative;
}

.page-prev {
    display: block;
    position: absolute;
    background: url(/Images/System/orArrowL.png) no-repeat 0 0 transparent;
    width: 5px;
    height: 9px;
    top: 12px;
    left: -28px;
}

.page-next {
    display: block;
    position: absolute;
    background: url(/Images/System/orArrowR.png) no-repeat 0 0 transparent;
    width: 5px;
    height: 9px;
    top: 12px;
    right: -28px;
}

.pageslider {
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -250px;
    background: 0 none #FFFBF5;
    border: 2px solid #ffffff;
    box-shadow: 0 1px 3px #D2CFCB;
    border-radius: 5px;
    behavior: url(css/PIE.htc);
    padding: 6px 15px;
    width: 470px;
    z-index: 91;
    display: none;
}

.pagesliderTop {
    margin-bottom: 5px;
    overflow: auto;
    position: relative;
    width: 100%;
    height: auto;
}

    .pagesliderTop ul {
        list-style: none outside none;
        margin: 0;
        padding: 0 5px;
        overflow: hidden;
        /* white-space: nowrap; */
    }

        .pagesliderTop ul li:first-child {
            margin-left: 0;
        }

        .pagesliderTop ul li {
            float: left;
            margin: 0 1px;
            padding: 3px 0;
        }


.profile-header-wrapper {
    background: linear-gradient(to bottom, #738aef, #546ac4);
    /*min-height: 200px;*/
    width: 100%;
    display: block;
}

    .profile-header-wrapper .info {
        display: flex;
        padding: 20px 20px 0;
    }

        .profile-header-wrapper .info .logo {
            width: 90px;
            height: 90px;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            display: flex;
            background-color: lightgray;
            font-size: 2rem;
        }

        .profile-header-wrapper .info .personal {
            color: white;
            margin-left: 20px;
        }

    .profile-header-wrapper .actions {
        padding: 0 20px 10px;
    }

        .profile-header-wrapper .actions a {
            color: white !important;
        }

    .profile-header-wrapper .info .personal p {
        margin-bottom: 5px;
    }



/*.registerInW div {
    color: #4c4c4c;
    font: 11px Arial;
    padding-bottom: 25px;
}*/

.registerInW .borderReg {
    border-top: 1px solid #d7dde0;
    padding-top: 24px;
    padding-bottom: 0;
    /*margin-right: 35px;*/
    /*color: #4c4c4c;
        font: 11px Arial;
        padding-bottom: 25px;*/
}

    .registerInW .borderReg .fieldItem {
        min-height: 20px;
        position: relative;
        color: #4c4c4c;
        font: 11px Arial;
        padding-bottom: 25px;
    }

    .registerInW .borderReg .rightText {
        color: #4c4c4c;
        font: 11px Arial;
        left: 765px;
        float: none;
        margin-right: 10px;
        clear: none;
        width: auto;
        top: 22px;
        position: absolute;
        color: #4c4c4c;
        font: 11px Arial;
        padding-bottom: 25px;
    }

.registerInW .regBtm {
    width: 580px;
    margin: 35px 0 0;
    padding: 0;
    color: #4c4c4c;
    font: 11px Arial;
    padding-bottom: 25px;
}

    .registerInW .regBtm a {
        color: #004bb9;
        font: 12px Arial;
    }

    .registerInW .regBtm input {
        padding: 0;
        margin-left: 211px;
        background: url(/Images/System/regBut2.gif) no-repeat top left transparent;
        width: 350px;
        border: none;
        cursor: pointer;
        height: 55px;
    }

        .registerInW .regBtm input.regBut3 {
            padding: 0;
            margin-left: 43px;
            background: url(/Images/System/regBut3.gif) no-repeat top left transparent;
            width: 350px;
            border: none;
            cursor: pointer;
            height: 55px;
        }

    .registerInW .regBtm p {
        width: 350px;
        margin-left: 210px;
        margin-top: 10px;
        text-align: center;
        color: #6f6f6f;
        font: 11px Arial;
    }

.registerInW .borderReg .field-title {
    color: #4c4c4c;
    font: bold 13px Arial;
    float: left;
    width: 210px;
    margin-top: 3px;
    height: 35px;
}

    .registerInW .borderReg .field-title.regBrown {
        color: #713918;
    }

    .registerInW .borderReg .field-title.regRed {
        color: #ff3b38;
    }

.registerInW .borderReg em {
    margin-left: 210px;
    color: #546d7f;
    font: bold 16px Arial;
    padding-bottom: 21px;
    float: left;
    width: 400px;
}

.registerInW .borderReg input.regInp1 {
    color: #4c4c4c;
    font: 12px Arial;
    padding: 3px 5px;
    width: 218px;
    margin-right: 8px;
    margin-bottom: 8px;
    background: url("/Images/System/regInpBg.png") repeat-x scroll 0 top #ffffff;
    border: 1px solid #C9D1D6;
}

    .registerInW .borderReg input.regInp1 + p {
        margin-left: 77px;
        width: 150px;
    }

.registerInW .borderReg input.regInp2 {
    color: #4c4c4c;
    font: 12px Arial;
    padding: 3px 5px;
    width: 730px;
    background: url("/Images/System/regInpBg.png") repeat-x scroll 0 top #ffffff;
    border: 1px solid #C9D1D6;
}

.registerInW .borderReg select.regInp2 {
    color: #4c4c4c;
    font: 12px Arial;
    padding: 10px 50px;
    width: 218px;
    background: url("/Images/System/regInpBg.png") repeat-x scroll 0 top #ffffff;
    border: 1px solid #C9D1D6;
}

.registerInW .borderReg input.regBut1 {
    width: 174px;
    height: 29px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 8px;
    background: url(/Images/System/regBut1.gif) no-repeat top left transparent;
}

.registerInW .borderReg textarea {
    height: 122px;
    width: 730px;
    resize: none;
    overflow: auto;
    font: 12px Arial;
    color: #4c4c4c;
    background: url("/Images/System/regInpBg.png") repeat-x scroll 0 top #ffffff;
    border: 1px solid #C9D1D6;
    padding: 3px 5px;
}

.registerInW .borderReg label {
    margin-top: 3px;
    float: left;
    /*width: 105px;*/
}

    .registerInW .borderReg label.checkbox-label {
        margin-top: 3px;
        float: none;
    }

.registerInW .borderReg .checkbox-input {
    position: relative;
    vertical-align: middle;
    bottom: 1px;
}

.registerInW .borderReg.head label {
    width: 105px;
}

.registerInW p {
    text-align: right;
    color: #4c4c4c;
    font: 11px Arial;
    width: 610px;
    margin-left: 130px;
    margin-top: 4px;
    margin-bottom: -6px;
}

    .registerInW p b {
        color: #ff2121;
        font: 14px Arial;
        margin-right: 3px;
    }

    .registerInW p.check {
        text-align: left;
        color: #4c4c4c;
        font: 11px Arial;
        /*width: 350px;*/
        margin-left: 210px;
        /*margin-top: 4px;*/
        /*margin-bottom: 0;*/ /*исправлено*/
        display: inline;
        margin-left: 0;
    }

        .registerInW p.check label {
            float: none;
            color: #ff732e;
            font: bold 12px Arial;
        }

        .registerInW p.check input {
            /*float: left;*/
            vertical-align: middle;
            margin: 1px 8px 0 0;
        }

.registerInW .regCapcha {
    width: 350px;
    clear: both;
    padding: 0;
    margin-left: 210px;
    margin-top: -13px;
}

.registerInW .refresh span {
    float: none;
    border-bottom: 1px dotted;
    color: #BA575D;
    cursor: pointer;
    font: 11px/15px Arial,Verdana;
}

.registerInW .regCapcha input {
    width: 203px;
}

.registerInW .borderReg input.regInp3 {
    color: #4c4c4c;
    font: 12px Arial;
    padding: 3px 5px;
    width: 88px;
    margin-right: 8px;
    background: url("/Images/System/regInpBg.png") repeat-x scroll 0 top #ffffff;
    border: 1px solid #C9D1D6;
}

.registerInW .regCapcha p {
    text-align: left !important;
    margin: 0;
    margin-bottom: 5px;
}

.registerInW input.regBut {
    margin-top: 24px;
    margin-left: 210px;
    background: url(/Images/System/regBut.png) no-repeat top left transparent;
    width: 350px;
    height: 55px;
    cursor: pointer;
    border: none;
}

.regRad {
    margin: 4px 6px 4px 0;
    float: left;
    vertical-align: middle;
}

.registerInW input.inpCheck {
    float: left;
    vertical-align: middle;
    margin: 5px 6px 0 0;
}

/* Carousel */
.carousel-h {
    height: 200px !important;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0 !important;
}

.carousel-inner, .carousel-item {
    /*height: 170px;*/
}

/*.carousel-item {
    height: 250px !important;
}

.carousel-item img {
    margin: auto;
}

.carousel-item img.wide {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.carousel-item img.tall {
    max-width: 100%;
    max-height: 100%;
    width: auto;
}*/


.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;
    }

        .lds-ring div:nth-child(1) {
            animation-delay: -0.45s;
        }

        .lds-ring div:nth-child(2) {
            animation-delay: -0.3s;
        }

        .lds-ring div:nth-child(3) {
            animation-delay: -0.15s;
        }

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Lang panel */

.lang {
    text-decoration: none;
    color: white;
}

    .lang:hover {
        text-decoration: none;
        color: silver;
    }

.active-lang {
    color: orangered !important;
    font-weight: bold;
}
