<div class="fieldItem">
    <span class="field-title">Раздел сайта:</span>
    <input class="regRad" id="realty-announcement" name="regRad" type="radio" checked="checked" value="" /><label for="regRad">объявления</label>
    <input class="regRad" id="realty-category" name="regRad" type="radio" value="" /><label for="regRad2">недвижимость</label>
</div>

