@{
    var path = Request.Url.LocalPath;
    var isRealty = path == "/";
    var isAnnouncement = path.ToLower() == "/announcement";
}
<div class="category-menu">
    <label> @Html.RadioButton("category-menu", "/", isRealty) Недвижимость</label>
    <label> @Html.RadioButton("category-menu", "/Announcement", isAnnouncement) Объявления</label>
</div>