@{
    var path = Request.Url.LocalPath;
    var isRealty = path.ToLower() == "/bookmarks/myrealty" || path.ToLower() == "/my/realty";
    var isAnnouncement = path.ToLower() == "/bookmarks/myannouncements" || path.ToLower() == "/my/announcements";
}
<div class="category-menu">
    <label> @Html.RadioButton("category-menu", "/My/Realty", isRealty) Недвижимость</label>
    <label> @Html.RadioButton("category-menu", "/My/Announcements", isAnnouncement) Объявления</label>
</div>