@model Reklama.ViewModels.Catalog.ManufacturersMenuViewModel

<span class="hed1">Производители:</span>
<div class="lMenu">
    <ul>
       <li class="a"><span>@Html.ActionLink("Все производители", "Category", new { secondCategoryId = Model.CurrentCategory.ID })</span></li>
        <li class="emptyLine"></li>
        @foreach(var manufacturer in Model.Manufacturers) {
            <li><span>@Html.ActionLink(manufacturer.Name, "Category", new Reklama.Models.ViewModels.Catalog.ProductsFilterParams
                 {
                     SecondCategoryId = Model.CurrentCategory.ID,
                     ThirdCategoryId = manufacturer.ID
                 })</span></li>
        }
    </ul>
</div>
