<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="maximahmedov_rekwudtwbEntities" connectionString="metadata=res://*/Entity.Reklama.csdl|res://*/Entity.Reklama.ssdl|res://*/Entity.Reklama.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=maximahmedov_rekwudtwb;integrated security=False;user id=sa;password=4rfvBGT%;multipleactiveresultsets=True;connect timeout=15;encrypt=False;packet size=4096;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="maximahmedov_rekwudtwbEntities" connectionString="metadata=res://*/Entity.Reklama.csdl|res://*/Entity.Reklama.ssdl|res://*/Entity.Reklama.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql2.activeby.net;integrated security=False;user id=maximahmedov_gfyustdajdbnb;password=hde6gde0-3hdGD73g-w-2;multipleactiveresultsets=True;connect timeout=15;encrypt=False;packet size=4096;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>