@model int

@{
    ViewBag.Title = "Изменение пароля пользователя";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Изменение пароля пользователя</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    @Html.Hidden("id", Model)
    @Html.Label("Новый пароль:")
    @Html.Password("password")

    <br />
    <input type="submit" value="Изменить" />
}